# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo

# ==========================
# Virtual Environments
# ==========================
venv/
backend/venv/
frontend/venv/

# ==========================
# Environment
# ==========================
.env
.env.*

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# AI Models / Training Outputs
# ==========================
backend/models/
checkpoint-*/

# HuggingFace / ML caches
.cache/
huggingface/
torch/

# ==========================
# Datasets
# ==========================
backend/datasets/GoEmotions/
backend/datasets/raw/
backend/datasets/depression/raw/
backend/datasets/stress/raw/
backend/datasets/tokenized/

# ==========================
# Archives
# ==========================
*.7z
*.zip

# ==========================
# RAG Knowledge Base
# ==========================

# Ignore PDFs
backend/knowledge_base/pdfs/**/*.pdf

# Ignore generated vector store
backend/knowledge_base/vector_store/*
!backend/knowledge_base/vector_store/.gitkeep

# Ignore processed/generated knowledgese data
backend/knowledge_base/processed/*
!backend/knowledge_base/processed/.gitkeep

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db
# Large dataset files
backend/datasets/reddit_mental_health/raw/train.csv
backend/datasets/reddit_mental_health/processed/train_processed.csv
