# ==============================
# Backend Framework
# ==============================

fastapi
uvicorn
python-dotenv
python-multipart

# ==============================
# Database
# ==============================

sqlalchemy
psycopg2-binary

# ==============================
# Machine Learning
# ==============================

torch
torchvision
torchaudio

transformers==4.55.4
datasets==4.0.0
accelerate==1.9.0
huggingface_hub==0.36.2
evaluate
sentencepiece
tokenizers
safetensors
scikit-learn
numpy
pandas

# ==============================
# NLP
# ==============================

nltk
spacy

# ==============================
# Visualization
# ==============================

matplotlib
seaborn

# ==============================
# RAG
# ==============================

langchain
langchain-community
langchain-huggingface

faiss-cpu
pypdf

# ==============================
# Voice
# ==============================

openai-whisper
gtts
pydub
sounddevice
librosa

# ==============================
# Redis
# ==============================

redis

# ==============================
# Utilities
# ==============================

requests
tqdm
#For RAG
sentence-transformers==5.6.1
beautifulsoup4==4.15.0